$terracotta:#A86133;

.root {
  background-image: url('../../siteImages/detail-bg.jpg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 600px;
  padding-top: 1rem; 
  min-height: 10vh;
}

.potential-risks{
  background:#E6D1BF;
  border-radius: 0px 0px 12px 12px;
}

.foot-big-nunmber{
  font-family: 'ClashGrotesk-Medium';
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #000000;
}


.potential-risks-content{
  /* Body/Medium */

  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  color: #000000;
}

.potential-risks-foot-content{
font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #000000;
}

.foot-small-number{
  font-family: 'ClashGrotesk-Medium';
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.5px;
  color: #000000;
  font-weight: bolder;
  margin-left: 3px;
}

.same-chance-small-digit{
  font-family: 'ClashGrotesk-Medium';
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-align: left;
  font-weight: bold;
}

.ThreeTagsStyle {
  font-family: 'ClashGrotesk-Medium';
  font-style: normal;
  margin-left: 15px;
  font-feature-settings: "ss01" on;
  font-size: 24px;
  line-height: 60px;
  color: #000000;
  font-weight: 500;
}

.bodyText {
  margin-left: 30px;
  margin-top: 20px;
  color: #4D4D4D;
  margin-bottom: 50px;
  line-height: 24px;
}

.bodyText1 {
  font-family: 'Public Sans';
  text-align: center;
  color: #4D4D4D;
  font-size: 16px;
  line-height: 24px;
}

.linkText {
  margin-left: 30px;
  color: #4D4D4D;
  margin-bottom: 50px;
  line-height: 24px;
}

.avatar {
  width: 160px;
  height: 160px;
  font-size: 3rem;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space {
  margin-bottom: 2rem; 
  color: #4D4D4D;
  font-size: 16px;
  line-height: 24px;
}


.rightTitle {
  font-size: 32px;
  color: #0C3A25;
}

#first-image {
  margin-top: 50px;
  border-radius: 1115px;
  width: 500px;
  height: 350px;
}

.btmTip {
  margin-top: 20px;
  color: #0C3A25;
  font-weight: bold;
}

.post {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  background-color: #DFF0D8;
  border-radius: 10px;
}

.post1 {
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: #F4FCF0;
  border-radius: 10px;
}

.mainText {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.whitePost {
  padding: 24px;
  margin-bottom: 32px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.title {
  font-family: 'ClashGrotesk-Medium';
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0px;
  color: #0C3A25;
  font-weight: bold;
}

.secondTitle {
  font-family: 'ClashGrotesk-Medium';
  font-size: 36px;
  line-height: initial;
  letter-spacing: 0px;
  color: #0C3A25;
  font-weight: bold;
  display: flex;
}

.secondTitle.title2 {
  color: #A86133;
}

.subTitle {
  font-family: 'ClashGrotesk-Medium';
  font-size: 26px;
  line-height: 56px;
  letter-spacing: 0px;
  color: #0C3A25;
  font-weight: bold;
}

button.container {
  height: '25px',
}

.accordion-details:before {
  display:none;
}


.accordion-details #panel1a-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    min-height: auto !important;
    margin-bottom: 1rem;
    padding: 0px;
}

.accordion-details #panel1a-header .MuiAccordionSummary-content {
    margin: 0;
}

.link-btn {
    border: 1px solid #0c3a25;
    color: #0c3a25;
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Public Sans';
    padding: 5px 12px;
}

.link-btn:hover{
    background-color: #0c3a25;
    color: #ffffff;
    border-color: #0c3a25;
}

img#first-image-shape {
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

img#first-image-round {
    margin-top: 50px;
    border-radius: 200px;
    width: 85%;
    object-fit: cover;
    object-position: top;
}

.source-content p{
  font-size: 1rem;
  color: #000000;
  line-height: 20px;
  margin-bottom: 20px;
}

.source-content p br{
  display:none;
}

.bottomTitle span {
    font-size: 14px;
    margin-left: 7px;
}

div#panel1a-header > div {
    align-items: center;
    flex-grow: inherit;
}
