
.labor-block-title {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.labor-acc-text {
    line-height: 24px;
    margin-bottom: 1.4rem;
}

.labor-block-desc{
    line-height: 24px;
}

.content-block-img{
    max-width: 100%;
}

.sidebar-sticky{
    position: sticky;
    top: 0;
}

.secondTitle.title-labor {
    font-size: 2.5rem;
}