div.allFooter {
  background-color: #0c3a25;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

#srt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5vw;
  margin-left: 115px;
  padding: 2vw 2vw;
  border-radius: 25px;
  border: none;
  background-color: #fff;
  height: 1.5vw;
  flex-grow: 0;
  font-family: Public Sans;
  font-size: 1.25vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0c3a25;
}

.footer-title {
  color: #dff0d8;
}

img.logo {
  width: 300px;
  height: auto;
}
button.allFooter {
  width: 224px;
  flex-grow: 0;
  margin: 10px 10px 9px 0px;
  font-family: Public Sans;
  font-size: 1vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
}

button.leftFooter {
  width: 224px;
  flex-grow: 0;
  margin: 10px 10px 9px 115px;
  font-family: Public Sans;
  font-size: 1vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
}

#col1F {
  float: left;
  width: 40%;
}
#col2F {
  float: left;
  width: 30%;
}
#col3F {
  float: right;
  width: 30%;
}

ol {
  list-style: none;
}

li {
  line-height: 1.5vws;
}

hr {
  margin-top: 3vw;
  margin-bottom: 0;
  padding: 0;
}


.allFooter ul.footer-menu li a{
    font-family: Public Sans;
    font-size: 1rem;
}

.white-btn{
  background: white; 
  font-size: 18px;
  border-radius: 30px; 
  padding: 0.7rem 1.3rem; 
  text-transform: inherit; 
  text-decoration: none;
  font-family: Public Sans;
  margin-top: 1rem;
}

.footer-divider{
  margin-bottom: 20px !important;
}

button:hover a {
    color: inherit;
}
